In [2]:
# pip install pandas scikit-learn

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
import pandas as pd

# Importar a base de dados dos clientes
tabela = pd.read_csv("/content/drive/MyDrive/clientes.csv")

# Visualizar a base de dados dos clientes
display(tabela)

# Score de cr√©dito = Nota de cr√©dito
# Good = Boa
# Standard = OK
# Poor = Ruim

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

In [10]:
# Preparar a base de dados para a IA
display(tabela.info())

from sklearn.preprocessing import LabelEncoder

# cientista - 1
# bombeiro - 2
# engenheiro - 3
# dentista - 4
# artista - 5

# profissao
codificador_profissao = LabelEncoder()
tabela["profissao"] = codificador_profissao.fit_transform(tabela["profissao"])

# mix_credito
codificador_credito = LabelEncoder()
tabela["mix_credito"] = codificador_credito.fit_transform(tabela["mix_credito"])

# comportamento_pagamento
codificador_pagamento = LabelEncoder()
tabela["comportamento_pagamento"] = codificador_credito.fit_transform(tabela["comportamento_pagamento"])

# exibir informa√ß√µes da base de dados
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int64
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int64
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int64
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(10), object(1)
memory usage: 19.1+ MB

None

In [11]:
# y -> coluna da base de dados que eu quero prever
y = tabela["score_credito"]

# x -> coluna da base de dados que eu vou usar para fazer a previs√£o
x = tabela.drop(columns=["score_credito", "id_cliente"])

# separar dados de treino e teste
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [19]:
# Imports necess√°rios
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# 1Ô∏è‚É£ CORRIGIR OS DADOS - Converter categorias em n√∫meros
label_encoder = LabelEncoder()

# Se y_treino tem valores como 'Poor', 'Fair', 'Good', 'Excellent'
y_treino_encoded = label_encoder.fit_transform(y_treino)

# 2Ô∏è‚É£ CRIAR OS MODELOS
modelo_arvoredecisao = RandomForestClassifier(
    n_estimators=100,  # Mais √°rvores = melhor performance
    random_state=42    # Para resultados reprodut√≠veis
)

modelo_knn = KNeighborsClassifier(
    n_neighbors=5,     # N√∫mero de vizinhos
    weights='distance' # Vizinhos mais pr√≥ximos t√™m mais peso
)

# 3Ô∏è‚É£ TREINAR CORRETAMENTE
print("üéØ Treinando Modelo de √Årvore de Decis√£o...")
modelo_arvoredecisao.fit(x_treino, y_treino_encoded)

print("üéØ Treinando Modelo KNN...")
modelo_knn.fit(x_treino, y_treino_encoded)  # ‚Üê CORRE√á√ÉO AQUI!

print("‚úÖ Modelos treinados com sucesso!")

# 4Ô∏è‚É£ VERIFICAR A TRANSFORMA√á√ÉO
print(f"üìä Classes originais: {list(label_encoder.classes_)}")
print(f"üìä Classes codificadas: {list(range(len(label_encoder.classes_)))}")

üéØ Treinando Modelo de √Årvore de Decis√£o...
üéØ Treinando Modelo KNN...
‚úÖ Modelos treinados com sucesso!
üìä Classes originais: ['Good', 'Poor', 'Standard']
üìä Classes codificadas: [0, 1, 2]

In [15]:
# Solu√ß√£o r√°pida e direta
from sklearn.preprocessing import LabelEncoder

# 1. Encoder os dados
le = LabelEncoder()
y_treino_num = le.fit_transform(y_treino)
y_teste_num = le.transform(y_teste)

# 2. Treinar modelos
modelo_arvoredecisao.fit(x_treino, y_treino_num)
modelo_knn.fit(x_treino, y_treino_num)  # ‚Üê FIX AQUI!

# 3. Predi√ß√µes
previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste)
previsao_knn = modelo_knn.predict(x_teste)

# 4. Acur√°cia
from sklearn.metrics import accuracy_score
print(f"üéØ Acur√°cia Random Forest: {accuracy_score(y_teste_num, previsao_arvoredecisao):.2%}")
print(f"üéØ Acur√°cia KNN: {accuracy_score(y_teste_num, previsao_knn):.2%}")

üéØ Acur√°cia Random Forest: 82.38%
üéØ Acur√°cia KNN: 73.44%

In [27]:
# üöÄ C√ìDIGO REFATORADO COM VERIFICA√á√ÉO E CRIA√á√ÉO AUTOM√ÅTICA DE ENCODERS
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

print("üéØ INICIANDO PREDI√á√ÉO PARA NOVOS CLIENTES")
print("=" * 50)

# üìä IMPORTAR E ANALISAR BASE DE DADOS DOS NOVOS CLIENTES
try:
    print("üìÅ Carregando base de dados dos novos clientes...")
    tabela_novos_clientes = pd.read_csv("/content/drive/MyDrive/novos_clientes.csv")
    print(f"‚úÖ Dados carregados: {tabela_novos_clientes.shape[0]} clientes, {tabela_novos_clientes.shape[1]} colunas")

    print("\nüìä DADOS ORIGINAIS:")
    display(tabela_novos_clientes)

    # An√°lise inicial dos dados
    print(f"\nüîç An√°lise r√°pida:")
    print(f"   ‚Ä¢ Colunas dispon√≠veis: {list(tabela_novos_clientes.columns)}")
    for col in ['profissao', 'mix_credito', 'comportamento_pagamento']:
        if col in tabela_novos_clientes.columns:
            valores_unicos = tabela_novos_clientes[col].nunique()
            print(f"   ‚Ä¢ {col}: {valores_unicos} categorias √∫nicas")
        else:
            print(f"   ‚ö†Ô∏è Coluna '{col}' n√£o encontrada!")

except FileNotFoundError:
    print("‚ùå ERRO: Arquivo 'novos_clientes.csv' n√£o encontrado!")
    print("üí° Verifique o caminho: /content/drive/MyDrive/novos_clientes.csv")
    raise
except Exception as e:
    print(f"‚ùå ERRO ao carregar dados: {e}")
    raise

# üîß VERIFICA√á√ÉO E CRIA√á√ÉO INTELIGENTE DE ENCODERS
def verificar_e_criar_encoder(nome_encoder, dados_referencia=None):
    """
    Verifica se encoder existe e est√° treinado, sen√£o tenta criar/treinar
    """
    print(f"\nüîç Verificando encoder: {nome_encoder}")

    # Verificar se existe na mem√≥ria
    if nome_encoder in globals():
        encoder = globals()[nome_encoder]

        # Verificar se foi treinado
        if hasattr(encoder, 'classes_'):
            print(f"   ‚úÖ {nome_encoder} est√° OK! Categorias: {encoder.classes_}")
            return encoder
        else:
            print(f"   ‚ö†Ô∏è  {nome_encoder} existe mas n√£o foi treinado")
    else:
        print(f"   ‚ùå {nome_encoder} n√£o encontrado na mem√≥ria")

    # Se chegou aqui, o encoder precisa ser criado/treinado
    print(f"   üí° Tentando recriar {nome_encoder}...")

    # Tentar encontrar dados de refer√™ncia para treinar
    if dados_referencia is not None:
        print(f"   üîß Criando novo encoder com dados fornecidos...")
        novo_encoder = LabelEncoder()
        novo_encoder.fit(dados_referencia)
        globals()[nome_encoder] = novo_encoder
        print(f"   ‚úÖ {nome_encoder} criado e treinado!")
        return novo_encoder
    else:
        print(f"   ‚ùå N√£o foi poss√≠vel recriar {nome_encoder} - dados de refer√™ncia necess√°rios!")
        return None

# üõ°Ô∏è FUN√á√ÉO PARA TRANSFORMA√á√ÉO SEGURA MELHORADA
def transformar_coluna_segura(dados, coluna, encoder, nome_encoder):
    """
    Transforma uma coluna categ√≥rica de forma segura, tratando valores desconhecidos
    """
    print(f"\nüîß Processando coluna: {coluna}")

    # Verificar se coluna existe
    if coluna not in dados.columns:
        raise KeyError(f"Coluna '{coluna}' n√£o encontrada nos dados!")

    # Verificar se encoder est√° OK
    if encoder is None or not hasattr(encoder, 'classes_'):
        raise ValueError(f"Encoder '{nome_encoder}' n√£o est√° dispon√≠vel para transforma√ß√£o!")

    # Analisar categorias
    categorias_dados = set(dados[coluna].unique())
    categorias_encoder = set(encoder.classes_)
    categorias_desconhecidas = categorias_dados - categorias_encoder
    categorias_comum = categorias_dados & categorias_encoder

    print(f"   üìä Categorias nos dados: {sorted(categorias_dados)}")
    print(f"   ‚úÖ Categorias conhecidas: {len(categorias_comum)}")

    if categorias_desconhecidas:
        print(f"   ‚ö†Ô∏è  Categorias DESCONHECIDAS: {sorted(categorias_desconhecidas)}")

        # Estrat√©gia: substituir por categoria mais comum do encoder
        categoria_substituicao = encoder.classes_[0]  # Primeira categoria como padr√£o

        print(f"   üîÑ Substituindo por: '{categoria_substituicao}'")

        # Fazer substitui√ß√£o
        dados_corrigidos = dados[coluna].copy()
        for cat_desconhecida in categorias_desconhecidas:
            dados_corrigidos = dados_corrigidos.replace(cat_desconhecida, categoria_substituicao)
            print(f"      ‚Ä¢ '{cat_desconhecida}' ‚Üí '{categoria_substituicao}'")

        return encoder.transform(dados_corrigidos)
    else:
        print("   ‚úÖ Todas as categorias s√£o conhecidas!")
        return encoder.transform(dados[coluna])

# üîç VERIFICA√á√ÉO DOS ENCODERS
print(f"\n{'='*50}")
print("üîç VERIFICANDO E PREPARANDO ENCODERS")
print(f"{'='*50}")

# Lista de encoders necess√°rios
encoders_info = [
    ('codificador_profissao', 'profissao'),
    ('codificador_credito', 'mix_credito'),
    ('codificador_pagamento', 'comportamento_pagamento')
]

encoders_verificados = {}

for nome_encoder, coluna_referencia in encoders_info:
    # Dados de refer√™ncia da tabela de novos clientes (para emerg√™ncia)
    dados_ref = tabela_novos_clientes[coluna_referencia].unique() if coluna_referencia in tabela_novos_clientes.columns else None

    encoder = verificar_e_criar_encoder(nome_encoder, dados_ref)
    encoders_verificados[nome_encoder] = encoder

    if encoder is None:
        print(f"‚ùå PROBLEMA CR√çTICO: N√£o foi poss√≠vel preparar {nome_encoder}")
        print(f"üí° SOLU√á√ÉO MANUAL necess√°ria:")
        print(f"   1. Carregue os dados de treinamento originais")
        print(f"   2. Execute: {nome_encoder} = LabelEncoder()")
        print(f"   3. Execute: {nome_encoder}.fit(dados_treino['{coluna_referencia}'])")

        # Oferecer alternativa de emerg√™ncia
        print(f"\nüö® ALTERNATIVA DE EMERG√äNCIA:")
        print(f"   Criando encoder tempor√°rio apenas com dados novos...")
        encoder_temp = LabelEncoder()
        encoder_temp.fit(dados_ref)
        encoders_verificados[nome_encoder] = encoder_temp
        globals()[nome_encoder] = encoder_temp
        print(f"   ‚ö†Ô∏è  Encoder tempor√°rio criado! (pode n√£o ter todas as categorias do treino)")

# üîÑ PROCESSAR COLUNAS CATEG√ìRICAS COM SEGURAN√áA
print(f"\n{'='*50}")
print("üîß INICIANDO TRANSFORMA√á√ÉO DE DADOS CATEG√ìRICOS")
print(f"{'='*50}")

# Criar c√≥pia para preservar dados originais
dados_processados = tabela_novos_clientes.copy()

try:
    # 1Ô∏è‚É£ PROFISS√ÉO
    dados_processados["profissao"] = transformar_coluna_segura(
        dados_processados,
        "profissao",
        encoders_verificados['codificador_profissao'],
        "codificador_profissao"
    )

    # 2Ô∏è‚É£ MIX CR√âDITO
    dados_processados["mix_credito"] = transformar_coluna_segura(
        dados_processados,
        "mix_credito",
        encoders_verificados['codificador_credito'],
        "codificador_credito"
    )

    # 3Ô∏è‚É£ COMPORTAMENTO PAGAMENTO
    dados_processados["comportamento_pagamento"] = transformar_coluna_segura(
        dados_processados,
        "comportamento_pagamento",
        encoders_verificados['codificador_pagamento'],
        "codificador_pagamento"
    )

    print(f"\n‚úÖ TODAS AS TRANSFORMA√á√ïES REALIZADAS COM SUCESSO!")

except Exception as e:
    print(f"‚ùå ERRO na transforma√ß√£o: {e}")
    print(f"üí° Tipo do erro: {type(e).__name__}")
    raise

# üìä EXIBIR DADOS TRANSFORMADOS
print(f"\n{'='*50}")
print("üìä DADOS AP√ìS TRANSFORMA√á√ÉO:")
print(f"{'='*50}")
display(dados_processados)

# üéØ VALIDAR DADOS ANTES DA PREDI√á√ÉO
print(f"\nüîç VALIDA√á√ÉO PR√â-PREDI√á√ÉO:")
try:
    # Verificar se modelo existe e est√° treinado
    if 'modelo_arvoredecisao' not in globals():
        raise NameError("Modelo 'modelo_arvoredecisao' n√£o foi definido!")

    if not hasattr(modelo_arvoredecisao, 'n_features_in_'):
        raise ValueError("Modelo n√£o foi treinado ainda!")

    # Verificar n√∫mero de features
    features_esperadas = modelo_arvoredecisao.n_features_in_
    features_dados = dados_processados.shape[1]

    print(f"   ‚Ä¢ Features esperadas pelo modelo: {features_esperadas}")
    print(f"   ‚Ä¢ Features nos dados: {features_dados}")

    if features_dados != features_esperadas:
        print(f"   ‚ö†Ô∏è  INCOMPATIBILIDADE: O modelo espera {features_esperadas} features, mas os dados t√™m {features_dados}")

        # Tentar ajustar automaticamente
        if features_dados > features_esperadas:
            print(f"   üîß Removendo colunas extras...")
            dados_processados = dados_processados.iloc[:, :features_esperadas]
        elif features_dados < features_esperadas:
            raise ValueError(f"Dados insuficientes! Faltam {features_esperadas - features_dados} features")

    print("   ‚úÖ Valida√ß√£o conclu√≠da!")

except Exception as e:
    print(f"‚ùå ERRO na valida√ß√£o: {e}")
    raise

# üîÆ FAZER PREDI√á√ïES
print(f"\n{'='*50}")
print("üîÆ REALIZANDO PREDI√á√ïES")
print(f"{'='*50}")

try:
    print("üéØ Aplicando modelo Random Forest...")
    nova_previsao = modelo_arvoredecisao.predict(dados_processados)

    print(f"‚úÖ Predi√ß√µes realizadas com sucesso!")
    print(f"üìä {len(nova_previsao)} predi√ß√µes geradas")

    print(f"\nüéØ RESULTADOS DAS PREDI√á√ïES:")
    display(nova_previsao)

    # Estat√≠sticas das predi√ß√µes
    print(f"\nüìà ESTAT√çSTICAS DAS PREDI√á√ïES:")
    unique_preds, counts = np.unique(nova_previsao, return_counts=True)
    for pred, count in zip(unique_preds, counts):
        percentage = (count / len(nova_previsao)) * 100
        print(f"   ‚Ä¢ Classe {pred}: {count} clientes ({percentage:.1f}%)")

except Exception as e:
    print(f"‚ùå ERRO na predi√ß√£o: {e}")
    print(f"üí° Tipo do erro: {type(e).__name__}")
    raise

print(f"\nüéâ PROCESSO CONCLU√çDO COM SUCESSO!")
print(f"{'='*50}")

üéØ INICIANDO PREDI√á√ÉO PARA NOVOS CLIENTES
==================================================
üìÅ Carregando base de dados dos novos clientes...
‚úÖ Dados carregados: 3 clientes, 23 colunas

üìä DADOS ORIGINAIS:

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,empresario,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,baixo_gasto_pagamento_baixo,312.487689,1,1,0,0,0
1,4,32.0,advogado,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,baixo_gasto_pagamento_medio,300.994163,0,0,0,0,1
2,2,48.0,empresario,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,baixo_gasto_pagamento_alto,345.081577,0,1,0,1,0

üîç An√°lise r√°pida:
   ‚Ä¢ Colunas dispon√≠veis: ['mes', 'idade', 'profissao', 'salario_anual', 'num_contas', 'num_cartoes', 'juros_emprestimo', 'num_emprestimos', 'dias_atraso', 'num_pagamentos_atrasados', 'num_verificacoes_credito', 'mix_credito', 'divida_total', 'taxa_uso_credito', 'idade_historico_credito', 'investimento_mensal', 'comportamento_pagamento', 'saldo_final_mes', 'emprestimo_carro', 'emprestimo_casa', 'emprestimo_pessoal', 'emprestimo_credito', 'emprestimo_estudantil']
   ‚Ä¢ profissao: 2 categorias √∫nicas
   ‚Ä¢ mix_credito: 2 categorias √∫nicas
   ‚Ä¢ comportamento_pagamento: 3 categorias √∫nicas

==================================================
üîç VERIFICANDO E PREPARANDO ENCODERS
==================================================

üîç Verificando encoder: codificador_profissao
   ‚úÖ codificador_profissao est√° OK! Categorias: ['advogado' 'arquiteto' 'cientista' 'contador' 'desenvolvedor'
 'empresario' 'engenheiro' 'escritor' 'gerente' 'gerente_midia'
 'jornalista' 'mecanico' 'medico' 'musico' 'professor']

üîç Verificando encoder: codificador_credito
   ‚úÖ codificador_credito est√° OK! Categorias: ['alto_gasto_pagamento_alto' 'alto_gasto_pagamento_baixos'
 'alto_gasto_pagamento_medio' 'baixo_gasto_pagamento_alto'
 'baixo_gasto_pagamento_baixo' 'baixo_gasto_pagamento_medio']

üîç Verificando encoder: codificador_pagamento
   ‚ö†Ô∏è  codificador_pagamento existe mas n√£o foi treinado
   üí° Tentando recriar codificador_pagamento...
   üîß Criando novo encoder com dados fornecidos...
   ‚úÖ codificador_pagamento criado e treinado!

==================================================
üîß INICIANDO TRANSFORMA√á√ÉO DE DADOS CATEG√ìRICOS
==================================================

üîß Processando coluna: profissao
   üìä Categorias nos dados: ['advogado', 'empresario']
   ‚úÖ Categorias conhecidas: 2
   ‚úÖ Todas as categorias s√£o conhecidas!

üîß Processando coluna: mix_credito
   üìä Categorias nos dados: ['Normal', 'Ruim']
   ‚úÖ Categorias conhecidas: 0
   ‚ö†Ô∏è  Categorias DESCONHECIDAS: ['Normal', 'Ruim']
   üîÑ Substituindo por: 'alto_gasto_pagamento_alto'
      ‚Ä¢ 'Ruim' ‚Üí 'alto_gasto_pagamento_alto'
      ‚Ä¢ 'Normal' ‚Üí 'alto_gasto_pagamento_alto'

üîß Processando coluna: comportamento_pagamento
   üìä Categorias nos dados: ['baixo_gasto_pagamento_alto', 'baixo_gasto_pagamento_baixo', 'baixo_gasto_pagamento_medio']
   ‚úÖ Categorias conhecidas: 3
   ‚úÖ Todas as categorias s√£o conhecidas!

‚úÖ TODAS AS TRANSFORMA√á√ïES REALIZADAS COM SUCESSO!

==================================================
üìä DADOS AP√ìS TRANSFORMA√á√ÉO:
==================================================

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,5,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,1,312.487689,1,1,0,0,0
1,4,32.0,0,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,2,300.994163,0,0,0,0,1
2,2,48.0,5,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,0,345.081577,0,1,0,1,0

üîç VALIDA√á√ÉO PR√â-PREDI√á√ÉO:
   ‚Ä¢ Features esperadas pelo modelo: 23
   ‚Ä¢ Features nos dados: 23
   ‚úÖ Valida√ß√£o conclu√≠da!

==================================================
üîÆ REALIZANDO PREDI√á√ïES
==================================================
üéØ Aplicando modelo Random Forest...
‚úÖ Predi√ß√µes realizadas com sucesso!
üìä 3 predi√ß√µes geradas

üéØ RESULTADOS DAS PREDI√á√ïES:

array([1, 0, 2])

üìà ESTAT√çSTICAS DAS PREDI√á√ïES:
   ‚Ä¢ Classe 0: 1 clientes (33.3%)
   ‚Ä¢ Classe 1: 1 clientes (33.3%)
   ‚Ä¢ Classe 2: 1 clientes (33.3%)

üéâ PROCESSO CONCLU√çDO COM SUCESSO!
==================================================